body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('encabezado.jpg'); /* Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    background-image: url('cuerpo.jpg'); /* Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

 /* Estilo para el logo */
.logo {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra el logo dentro del encabezado */
    }

 /* Estilo para el texto del encabezado */
h1 {
color: #fff; /* Cambia el color del texto según tus preferencias */
margin-top: 10px; /* Ajusta el margen superior según sea necesario */
        }

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#carrito {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

#sala-ubicacion {
    margin-top: 20px;
    text-align: center;
}

#sala, #ubicacion {
    margin-bottom: 10px;
}
